block mob-nav
	nav.mob-nav
		ul.mob-nav__list
			li.mob-nav__item
				a.mob-nav__link.mob-nav__link--active(href="#")
					svg(width="16" height="18").mob-nav__icon
						use(href="/img/sprite.svg#home")
					span.mob-nav__text Home
			li.mob-nav__item
				a.mob-nav__link(href="#")
					svg(width="16" height="18").mob-nav__icon
						use(href="/img/sprite.svg#browse")
					span.mob-nav__text Browse
			li.mob-nav__item
				a.mob-nav__link(href="#")
					svg(width="16" height="18").mob-nav__icon
						use(href="/img/sprite.svg#search")
					span.mob-nav__text Search
			li.mob-nav__item
				a.mob-nav__link(href="#")
					svg(width="16" height="18").mob-nav__icon
						use(href="/img/sprite.svg#account")
					span.mob-nav__text Account
			li.mob-nav__item
				a.mob-nav__link(href="#")
					svg(width="16" height="18").mob-nav__icon
						use(href="/img/sprite.svg#cart")
					span.mob-nav__text Cart
