block template
	template.js-template-item
		li.catalog__item
			a.catalog__item-link(href="#")
				.catalog__item-img
					img.js-item-img(src="", alt="")
				.catalog__item-content
					span.catalog__item-mark.js-item-mark
					h3.catalog__item-title.js-item-title
					.catalog__raiting-wrap
						.catalog__raiting-imgs
							span.catalog__item-raiting
								img(src="/img/stars.png")
							span.catalog__active-raiting.js-item-raiting
								img(src="/img/active-stars.png")
						span.catalog__raiting-count.js-item-vote
					p.catalog__item-sub.js-item-description
				.catalog__item-price-box
					span.catalog__item-sale.js-item-old-price
					span.catalog__item-price.js-item-price
					span.catalog__item-sale-mark.js-item-sale
