// Box sizing rules
*,
*::before,
*::after
	box-sizing border-box

// Remove default margin
body,
h1,
h2,
h3,
h4,
p,
li,
figure,
figcaption,
blockquote,
dl,
dd
	margin: 0

// Set core body defaults
body
	line-height: 1.5

// Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed
ul[role='list'],
ol[role='list']
	list-style: none

// A elements that don't have a class get default styles
a:not([class])
	text-decoration-skip-ink auto

// Make images easier to work with
img,
picture
	width 100%
	display block

// Inherit fonts for inputs and buttons
input,
button,
textarea,
select
	font inherit

// fix footer
html,
body
	height 100%
	font-family: $Inter

// remove padding
input,
button
	padding: 0

// remove opacity
input::placeholder
	opacity: 1

//fix footer
.fix-box
	display flex
	flex-direction column
	height 100%

	&__content
		flex 1 0 auto
		
.footer
	flex 0 0 auto