extends ../templates/_layout

block page
	section.catalog
		h1.catalog__title Games
		.catalog__top
			.catalog__top-content
				h2.catalog__top-title Refer a friends and get $10 off!
				p.catalog__top-text Connect with friends. Refer a friend and unlock your $10 coupon! Offer ends February 27.
			button.catalog__top-btn
				span.catalog__top-btn-text Invite a friend
			.catalog__imgs-wrap
				.catalog__bg-img
					img(src="../img/m-bg-main-img.jpg", alt="")
